/build-debug/
/build-release/

/ck_registry.json

/gamedir/**
!/gamedir/README
!/gamedir/start.sh

assets/
maps/

*.o
*.a
*.so

/fallout2-ck

.swp
.netrwhist

/insights

/src/vendor/luajit/**
/src/vendor/sqlite3/**
/src/vendor/picojson/**
!/src/vendor/luajit/README
!/src/vendor/sqlite3/README
!/src/vendor/picojson/README
