/build/

/ck_registry.json

/gamedir/**
!/gamedir/README

assets/
maps/

*.o
*.a
*.so

/fallout2-ck

.swp
.netrwhist

/insights

/src/vendor/sqlite3/**
/src/vendor/luajit/**
!/src/vendor/sqlite3/README
!/src/vendor/luajit/README
