/build-debug/
/build-release/
/backups/

/ck_registry.json

/gamedir/**
!/gamedir/README
!/gamedir/start.sh
!/gamedir/test.sh

mods/*/assets/
mods/*/maps/

tests_env/SAVEGAME/**
!tests_env/SAVEGAME/slotdat.ini

*.o
*.a
*.so

/fallout2-ck

.swp
.netrwhist

/insights

/src/vendor/luajit/**
/src/vendor/sqlite3/**
/src/vendor/picojson/**
!/src/vendor/luajit/README
!/src/vendor/sqlite3/README
!/src/vendor/picojson/README

/.clang-format
/.cache
/compile_commands.json
